
<div class="banner mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://livetheflats.ca/wp-content/uploads/2021/08/Rossdale-Development-Angle_-scaled.jpg);">
  <div class="container text-center flex justifi-content-center">
    <h1 class="pt-5"><strong><%= @flat.name %></strong></h1>
    <hr class="text-white">
    <h2 class="text-white"><%= @flat.address %></h2>
  </div>
</div>
  <div class="container">
   <form action="">
          <div class="input-group">
            <span class="input-group-text" id="basic-addon1">From:</span>
            <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="basic-addon1">To:</span>
            <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
        <div class="flex my-4">
            <i class="fa fa-facebook-square fa-2x me-2"></i>
            <i class="fa fa-twitter-square fa-2x me-2"></i>
            <i class="fa fa-envelope-square fa-2x"></i>
          </div>
      </div>


  </div>
